@media (min-width: 541px) {
/*-----Main with left side----*/
body {
    margin: 0;
    padding: 0;
    font-family: "Hanken Grotesk", sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
    font-size: 18px;
}

.main-container {
    margin: 0 auto;
    height: 512px;
    width: 736px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-container{
    color: white;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%) );
    border-radius: 32px;
    height: inherit;
    width: 368px;
    text-align: center;
}

#left-main-heading {
    font-size: 24px;
    margin-top: 45px;
    margin-bottom: 41px;
    opacity: 0.6;
}
#score {
    font-size: 72px;
}
#great {
    font-size: 32px;
    margin: 0;
    padding: 0;
}

.oval-container{
    margin: 0 auto;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0) );
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.oval-container p, h1 {
    padding: 0;
    margin: 0;
}

.oval-container p {
    opacity: 50%;
}

.end-left-container{
   margin: 28px auto 46px auto;
    width: 240px;
    height: 134px;
}
.end-left-container > p{
     opacity: 0.6;
 }


/* ----------Right side--------*/
#summary-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 38px;
}
.right-container{
    width: 368px;
    height: 512px;
    padding-left: 40px;
    margin: 0;
}
#red{
   color: #F55; 
}
#yellow{
    color: #FFB21E;
}
#green{
   color:#00BB8F;
}
#blue{
    color:  #1125D6;
}
.result-container {
    height: 288px;
    width: 288px;
}
#result-1{
    background-color: rgba(255, 85, 85, 0.2);
}
#result-2{
    background-color: rgba(255, 178, 30, 0.2);
}
#result-3{
    background-color: rgba(0,187,143,0.3);
}
#result-4{
    background-color: rgba(17,37,214,0.2);
}
.result-item {
    height: 56px;
    width: inherit;
    margin-top: 16px;
    border-radius: 12px;
    display: flex;
    align-items: center;
}
.text-container {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.result-item img {
    width: 20px;
    height: 20px;
    padding: 0 5px;
    margin: 0;
}
.end-result-item{
    color: black;
    padding-right: 10px;
}
.end-end-result{
    opacity: 0.6;
}
button:hover {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%) );
}
button {
    border-radius: 128px;
    height: 56px;
    width: 288px;
    background-color: #4D21C9;
    color: white;
    font-size: 18px;
    margin: 21px auto 46px auto;
    border: none;
}

.attribution { 
    font-size: 11px;
    text-align: center; 
    margin: 25px auto 0 auto;
}
.attribution a { color: hsl(228, 45%, 44%); }
}

/* --------MOBILE VERSION-------*/
@media (min-width: 140px) and (max-width: 540px) {
    body, #score, .left-container, #left-main-heading, #of-total-score, #great, .end-left-container > p {
        margin: 0;
    }
    body{
        width: auto;
        height: auto;
        padding: 0;
        font-family: "Hanken Grotesk", sans-serif;
    }
    p {
        font-size: 16px;
    }
    .left-container{
        height: auto;
        padding: 0;
        background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%) );
        text-align: center;
        color: white;
        border-radius: 0 0 32px 32px;
    }
    #left-main-heading {
        padding-top: 24px;
        font-size: 18px;
        opacity: 0.5;
    }
    .oval-container{
        width: 140px;
        height: 140px;
        background:  linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.00) 100%, rgba(37, 33, 201, 0.00) 100%);
        margin: 0 auto 24px auto;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #score {
        font-size: 56px;
    }
    #of-total-score {
        opacity: 0.5;
    }
    .end-left-container{
        margin: 0 auto;
        text-align: center;
    }
    #great{
        font-size: 24px;
        font-weight: 700;
    }
    .end-left-container > p {
        opacity: 0.5;
        padding: 0 56px 40px 56px;
    }


    /* Bottom Half */
    .result-container{
        margin: 0 20px;
    }
      #summary-title {
      font-size: 18px;
      margin: 24px auto 24px 32px; 
    }
    #red{
        color: #F55; 
     }
     #yellow{
         color: #FFB21E;
     }
     #green{
        color:#00BB8F;
     }
     #blue{
         color:  #1125D6;
     }
     #result-1{
         background-color: rgba(255, 85, 85, 0.2);
     }
     #result-2{
         background-color: rgba(255, 178, 30, 0.2);
     }
     #result-3{
         background-color: rgba(0,187,143,0.3);
     }
     #result-4{
         background-color: rgba(17,37,214,0.2);
     }
     .result-item {
        width: auto;
        height: 56px;
        margin: 10px 0 0 0;
        border-radius: 12px;
        display: flex;
        align-items: center;
     }
     .text-container {
        width: 450px;
        display: flex;
        justify-content: space-between;
        align-items: center;
     }
     .result-item > img {
        width: 20px;
        height: 20px;
        padding: 0 5px;
    }
    .end-result-item{
        color: black;
        padding-right: 10px;
    }
    .end-end-result{
        opacity: 0.6;
    }
    button:hover{
        background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%) );
    }
    button {
        border-radius: 128px;
        height: 56px;
        width: 80vw;
        background-color: #4D21C9;
        color: white;
        font-size: 18px;
        margin: 46px auto;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .attribution { 
        font-size: 12px;
        text-align: center; 
        margin: 5px auto 0 auto;
    }
    .attribution a { color: hsl(228, 45%, 44%); }
    
    }
