/*--- Selecting multiple----*/
body {
    margin: 10px auto;
    padding: 0;
    font-family: "Hanken Grotesk", sans-serif;
}

p {
    font-size: 18px;
}


/*-----Main with left side----*/
.main-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 512px;
    width: 736px;
}

.left-container{
    color: white;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%) );
    border-radius: 32px;
    height: inherit;
    width: 368px;
    text-align: center;
}

#left-main-heading {
    font-size: 24px;
    font-weight: bold;
    margin-top: 45px;
    margin-bottom: 41px;
    opacity: 0.6;
}

#score {
    font-weight: bolder;
    font-size: 72px;
}
#of-total-score {
    font-weight: bold;
}
#great {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.oval-container{
    margin: 0 auto;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0) );
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.oval-container p, h1 {
    padding: 0;
    margin: 0;
}

.oval-container p {
    opacity: 50%;
}

.end-left-container{
   margin: 28px auto 46px auto;
    width: 240px;
    height: 134px;
}
.end-left-container > p{
     opacity: 0.6;
 }


/* ----------Right side--------*/
#summary-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 38px;
}
.right-container{
    width: 368px;
    height: 512px;
    padding-left: 40px;
    margin: 0;
}
#red{
   color: #F55; 
}
#yellow{
    color: #FFB21E;
}
#green{
   color:#00BB8F;
}
#blue{
    color:  #1125D6;
}
.result-container {
    height: 288px;
    width: 288px;
}
#result-1{
    background-color: rgba(255, 85, 85, 0.2);
}
#result-2{
    background-color: rgba(255, 178, 30, 0.2);
}
#result-3{
    background-color: rgba(0,187,143,0.3);
}
#result-4{
    background-color: rgba(17,37,214,0.2);
}
.result-item {
    height: 56px;
    width: 288px;
    margin-top: 16px;
    border-radius: 12px;
    font-weight: bold;
}
.result-item img {
    float: inline-start;
    width: 20px;
    height: 20px;
    padding: 18px 16px 0 12px;
    margin: 0;
}
.result-item p {
    display: flex;
    padding: 16px 16px 0 0;
    margin: 0;

}
.end-result-item{
    color: black;
    margin-left: auto;
}
.end-end-result{
    opacity: 0.6;
}
button {
    border-radius: 128px;
    height: 56px;
    width: 288px;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%) );
    color: white;
    margin: 0 auto;
    font-size: 18px;
    margin: 21px auto 46px auto;
    border: none;
}

.attribution { 
    font-size: 11px;
    text-align: center; 
    margin-top: 50px;
}
.attribution a { color: hsl(228, 45%, 44%); }